$cyan-light: #5cdbd3;
$blue-light: #69c0ff;
$yellow-light: #fffb8f;

@mixin navFrame{
  width: 100%;
  max-width: 90rem;
}

@mixin background{
  background: linear-gradient(to right bottom, $cyan-light, $blue-light)
  // 如果想从右下到左上可以写 from right bottom to left top
}


@mixin fontStyle{
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  // x轴偏移，y轴偏移，偏移量
  // rgba（, , , 透明度）
}



@mixin iconFilter{
filter: drop-shadow(0px 0px 5px black) invert(1);
//用invert（1）来反转颜色，比如可以把黑色变成白色， invert（0）是不反转 
// drop-shadow可以添加贴合图片的阴影，如果只用shadow是对图片的方块做阴影
}



@mixin boxShadow{
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
}


@mixin animationFunc($theme:slideUp){
  animation-duration: 500ms;
  animation-name: $theme;
  animation-timing-function: ease-in-out;

  &:nth-child(1){
    animation-delay: 100ms;
  }
  &:nth-child(2){
    animation-delay: 220ms;
  }
  &:nth-child(3){
    animation-delay: 340ms;
  }
  &:nth-child(4){
    animation-delay: 460ms;
  }
// 对每个element设置不同的动画delay，就可以有跑马灯效果
}


html{
  @include background();
}


#app{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   height: 100%; 
  // 如果高不写100%，那么就不会在页面中间置中，会顶着最上面置中，但是宽度可以不写100%
  padding: 1rem;

  font-size: 24px
}



header{
 @include navFrame();
//  margin-top: 1rem;
ul{
width: 100%;
  display: flex;
  gap: 3rem ;
  justify-content: space-between;
  justify-content: space-evenly;
    // 如果header里没有设置宽度为100%，那么header里的ul设置space-evenly就没有用，因为默认长度是有多少content，header就是多长
a{
  @include fontStyle();
}

li{
  
@include animationFunc(rotation);

}

}

}


footer{
  @include navFrame();
  // margin-bottom: 1rem;
  ul{
    display: flex;
    gap: 3rem;
    justify-content: center;

    img{
      @include iconFilter();
    }

    li{
  
      @include animationFunc();
      
      }
  }
}


main{
  @include navFrame();
  @include fontStyle();
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(2rem + 4%) calc(2rem + 6%);
    border-radius: 1rem;
    @include boxShadow();
.left{
  max-width: 45rem;

  h3{
    font-size: 5rem;
    font-weight: 300;
  }

  h5{
    font-size: 3rem;
    font-weight: 200;
    color: $yellow-light
  }


  hr{
    background-color: white;
    border: 0.5px solid;
    content: "";
    height: 1px;
    margin: 1.5rem 0;
    width: 10rem;
    transform-origin: center left;
    // 设置hr的原点为最左，方便后面添加动画让线从左往右显示
  }

  p{
    font-size: 2rem;
    font-weight: 100;
    margin: 2rem 0;
  }

.span{
  text-align: center;
  border-radius: 5rem;
    padding: 1rem 3rem;
  @include boxShadow();
  display: inline-block;
  // 如果不设置inline-block，button会占一行
  color: $blue-light;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-shadow: none;
  cursor: pointer;

  transition: 200ms;

  &:active{
     // 添加点击效果, 这里提供两种效果
    // background-color: rgba(255,255,255,0.1);
    //    color: white;

       box-shadow: none;
       transform: translateY(0.2rem)
       
  }
  
}

  .social{

  margin: 3rem;
  display: flex;
  gap: 1rem;
    a{
      @include fontStyle();
    }
    }
 }

 .right{
  img {
    width: 30rem;
  height: 30rem;
  padding: 1rem;

margin: 1rem;
position: relative;
border-radius: 50%;
box-sizing: 0 0 10px rgba(0,0,0,0.2);
  }
 }

  }
}